.h-40 {
    height: 45%;
}

.bg-pers {
    background-color: rgb(21, 21, 21);
}

.mb-pers {
    margin-bottom: 40vh;
    margin-top: 10vh;
}

.min-vh-50 {
    min-height: 56vh;
}


.cuore {
    cursor: pointer;
}

.spinner {
    width: 3rem;
    height: 3rem;
}

.side {
    /* background-color: #212529; */
    background-color: #1b1d1e;
    /* border-right: 1px solid white; */
}

.ombra {
    box-shadow: 1px 2px 5px white;
}

.drop {
    width: 280px;
}

.drop>button {
    width: 100%;
}